/* General Reset */
* {
  box-sizing: border-box;
}

/* Typography */
body {
  font-family: 'Arial', sans-serif;
  color: #fff;
}

h1, h2, h3 {
  font-weight: bold;
  margin-bottom: 20px;
}

p {
  margin-bottom: 30px;
}

/* Header Styling */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.logo {
  font-size: 1.5rem;
  color: #fff;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
}

/* Hero Section */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background: #ad03fc;
  text-align: center;
}

.cta {
  padding: 15px 30px;
  background-color: #ff006e;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.cta:hover {
  background-color: #ff477e;
}

/* Social Links */
.socials {
  margin-top: 20px;
  font-size: 1.2rem;
}

.socials a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

/* Highlight Section */
.highlight {
  padding: 50px 20px;
  text-align: center;
  background-color: #111;
}

.cta-dark {
  padding: 10px 25px;
  background-color: #009ffd;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.cta-dark:hover {
  background-color: #34a4ff;
}

/* Footer */
footer {
  padding: 20px;
  text-align: center;
  background-color: #111;
  color: #fff;
}
