<style>
    .team-section {
        padding: 20px 0 80px;
        text-align: center;
        min-height: 100vh;
    }
    .team-section h2 {
        font-size: 2em;
        margin-bottom: 20px;
    }
    .team-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 20px;
        padding: 0 5%;
    }
    .team-member {
        background-color: #000000;
        padding: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        text-align: center;
        color: inherit;
        max-width: 100%;
    }
    .team-member:hover {
        transform: translateY(-8px);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    }
    .team-member img {
        width: 100%;
        height: auto;
        border-radius: 8px;
        margin-bottom: 10px;
    }
    .team-member p {
        color: #ffffff;
        font-size: 0.85em;
    }
    .team-member h4 {
        font-size: 1em;
        margin-top: 10px;
    }
    /* Adjust layout for large, ultra-wide monitors */
    @media (min-width: 1920px) {
        .team-grid {
            grid-template-columns: repeat(4, minmax(200px, 300px)); /* Limits tile width to prevent excessive size */
            gap: 30px; /* Adds extra space between tiles */
        }
    }
    /* Media query for general smaller screens */
    @media (max-width: 1200px) {
        .team-section {
            padding-bottom: 120px;
        }
    }
    @media (max-width: 768px) {
        .team-grid {
            grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        }
        .team-member p, .team-member h4 {
            font-size: 0.8em;
        }
    }
    @media (max-width: 480px) {
        .team-grid {
            grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
        }
    }
</style>
